// rem 

html {
    font-size: 62.5%;
}
body {
    font-family: Lato, Helvetica, Arial;
    font-size: 1.6rem;
}

button {
    cursor: pointer;
}

button:disabled{
    cursor: default;
}

h1{
    font-size: 2.6rem;
}

h3{
    margin: 0;
}

.center {
    margin: 0 auto;
}

.active {
    font-weight: bold;
}